.GameContainer {
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  animation: fadeIn 1s;
}

.Scores {
  margin-left: 2.5rem;
  font-size: 1.3rem;
}

.game-screen {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.greetings-container {
  text-align: center;
  margin-top: 20vh;
}

.start-button {
  margin: 0 auto;
  height: 4rem;
  width: 14rem;
  background-color: lightgreen;
  color: white;
  text-align: center;
  vertical-align: center;
  line-height: 3.5rem;
  font-size: 3rem;
  border-radius: 2rem;
  color: green;
  cursor: pointer;
  transition: all 0.5s ease;
}

.start-button:hover {
  background-color: blue;
  color: lightgreen;
}

.toy-btn {
  cursor: pointer;
}

.egg-emoji {
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
}

.animated-toy-center {
  animation: colorfulFill 8s ease, svgRExpand 8s ease;
}

.animated-toy-center-ring {
  animation: svgRExpandPlus 8s ease;
}

/* utilities START */
.u-orange-button {
  background-color: lightsalmon;
  color: orangered;
}
/* utilities END */

/* animations START */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorfulFill {
  0% {
    fill: rgb(237, 28, 36);
  }
  20% {
    fill: rgb(255, 222, 23);
  }
  40% {
    fill: rgb(33, 64, 154);
  }
  60% {
    fill: rgb(0, 161, 75);
  }
  80% {
    fill: rgb(76, 76, 77);
  }
  100% {
    fill: rgb(76, 76, 77);
  }
}

@keyframes svgRExpand {
  20% {
    r: 0rem;
  }
  40% {
    r: 2rem;
  }
  60% {
    r: 4rem;
  }
  80% {
    r: 6rem;
  }
  100% {
    r: none;
  }
}

@keyframes svgRExpandPlus {
  20% {
    r: 0.3rem;
  }
  40% {
    r: 2.3rem;
  }
  60% {
    r: 4.3rem;
  }
  80% {
    r: 6.3rem;
  }
  100% {
    r: none;
  }
}
/* animations END */

/* media queries START */
@media only screen and (max-width: 500px) {
  .GameContainer {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 4rem;
  }
  .Scores {
    margin: 0 0 3rem 0;
  }
}
/* media queries END */
