.GameContainer {
  display: flex;
  justify-content: center;
  margin-top: 11rem;
  animation: fadeIn 1s;
}

.game-screen {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.greetings-container {
  text-align: center;
  margin-top: 20%;
}

.start-button {
  height: 4rem;
  width: 14rem;
  background-color: lightgreen;
  color: white;
  text-align: center;
  vertical-align: center;
  line-height: 3.5rem;
  font-size: 3rem;
  border-radius: 2rem;
  color: green;
  cursor: pointer;
  transition: all 0.5s ease;
}

.start-button:hover {
  background-color: blue;
  color: lightgreen;
}

.toy-btn {
  cursor: pointer;
}

/* utilities START */
.u-orange-button {
  background-color: lightsalmon;
  color: orangered;
}
/* utilities END */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
